<nav class="navbar navbar-expand-sm bg-dark p-2">
    <ul class="navbar-nav">
        <li class="nav-item">
            <NavLink class="nav-link p-2" href="scales">Scales</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link p-2" href="findscale">Scales by Chords</NavLink>
        </li>
    </ul>
</nav>

